
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: 1px;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
}

body {
  background: #000;
  color: #ddd;
  font-size: 10pt;
  font-weight: normal;
  font-family: Source Sans Pro, arial, sans-serif;
  line-height: 18pt;
}

a {
  color: #ddd;
  text-decoration: none;
}

ul#form {
  
}

ul#form {
  padding: 64px 64px;
  background: #111;
}

ul#form li.output {
  padding: 12px 12px;
}

ul#form li#input {
  margin-top: 12px;
}

ul#form li#input input {
  width: 100%;
  padding: 9px 12px;
  
  background: transparent;
  border: none;
  border-left: 3px solid #f60;
  color: inherit;
}

ul#form li#input input:focus{
  border-color: #396;
}

ul#form li.output span {
  /* display: inline-block; */
  /* padding: 0px 9px;
     border-radius: 3px;
     vertical-align: middle; */
}

ul#form li.output span.comment {
  color: #333;
}

ul#form li.output span.code {
  color: #999;
}

ul#form li.output span.error {
  color: #f66;
}

ul#form li.output span.number {
  color: #393;
  font-weight: bold;
}

ul#form li.output span.string {
  color: #f63;
  font-weight: bold;
}

ul#form li.output span.function {
  font-weight: bold;
  color: #93c;
}

ul#form li.output span.list {
  color: inherit;
  font-weight: bold;
}

ul#form li.output span.object {
  color: inherit;
  font-weight: bold;
}

ul#form li.output span.object span.name {
  color: #93c;
  font-weight: bold;
}

ul#form li.output span.object span.value {
  color: inherit;
  font-weight: bold;
}

ul#form li.output span.boolean {
  color: #c6f;
  font-weight: bold;
}

ul#form li.output a:hover,
ul#form li.output a:active {
  color: #f60;
}

ul#footer {
  background: #000;
  padding: 0 12px;
  padding-bottom: 12px;
  padding: 16px 16px;
}

ul#footer li {
  float: right;
  padding: 3px 18px;
  margin-left: 12px;
  font-size: 9pt;
  
  background: #333;
  border-radius: 3px;
}

ul#footer li:hover,
ul#footer li:active {
  background: #e33;
  transition: all ease 0.1s;
}
